<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwn7d8SLs5xrtkTeJ292yeCXe7cRmTDEo</string>
	<key>GCM_SENDER_ID</key>
	<string>255641831618</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterPlantistApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-plantist-62a38</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-plantist-62a38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255641831618:ios:fdbb6f50a2d63a0937135b</string>
</dict>
</plist>